.video_embed_wrap {
  height: 100%;
  aspect-ratio: 16/9;
}

.video_embed_wrap:where(.w-variant-523cded9-f534-eecd-d272-c8e2e3b198b5) {
  aspect-ratio: 9/16;
}

.video_embed_wrap:where(.w-variant-6dc8f19d-70fa-21fc-f7a8-2d2e0e58b928) {
  aspect-ratio: 9/16;
}

.video_embed {
  width: 100%;
  height: 100%;
}