.form_ui_label {
  position: relative;

  display: flex;
  margin-bottom: 0px;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  font-weight: inherit;
}

.form_ui_label:where(.w-variant-e3978449-fef8-38a6-7f29-4e26ca4f8f53) {
  padding-top: 0.6rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;

  border-top-style: solid;
  border-top-width: var(--border-width--main);
  border-right-style: solid;
  border-right-width: var(--border-width--main);
  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-left-style: solid;
  border-left-width: var(--border-width--main);
  border-top-left-radius: var(--radius--round);
  border-top-right-radius: var(--radius--round);
  border-bottom-left-radius: var(--radius--round);
  border-bottom-right-radius: var(--radius--round);
  border-top-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
  border-right-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
  border-bottom-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
  border-left-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );

  background-color: color-mix( in srgb, var(--swatch--transparent) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );

  color: color-mix( in srgb, currentColor calc(100% * var(--_state---true)), var(--_theme---background) calc(100% * var(--_state---false))
  );
}

.form_ui_input {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  width: 100%;
  height: 100%;

  outline-style: none;

  cursor: pointer;

  appearance: none;
}

.form_ui_visual_wrap {
  display: flex;
  width: 1.6rem;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  aspect-ratio: 1/1;

  border-top-style: solid;
  border-top-width: var(--border-width--main);
  border-right-style: solid;
  border-right-width: var(--border-width--main);
  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-left-style: solid;
  border-left-width: var(--border-width--main);
  border-top-left-radius: var(--radius--small);
  border-top-right-radius: var(--radius--small);
  border-bottom-left-radius: var(--radius--small);
  border-bottom-right-radius: var(--radius--small);

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  color: var(--_theme---background);

  border-top-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
  border-right-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
  border-bottom-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
  border-left-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );

  background-color: color-mix( in srgb, var(--swatch--transparent) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
}

.form_ui_visual_wrap:where(.w-variant-05ff758a-80c8-4344-649b-149f87b62cc9) {
  width: 3.1rem;
  height: 1.6rem;
  padding-top: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  justify-content: flex-start;
  align-items: center;
  aspect-ratio: auto;

  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: var(--radius--round);
  border-top-right-radius: var(--radius--round);
  border-bottom-left-radius: var(--radius--round);
  border-bottom-right-radius: var(--radius--round);

  background-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
}

.form_ui_visual_wrap:where(.w-variant-e3978449-fef8-38a6-7f29-4e26ca4f8f53) {
  border-top-left-radius: var(--radius--round);
  border-top-right-radius: var(--radius--round);
  border-bottom-left-radius: var(--radius--round);
  border-bottom-right-radius: var(--radius--round);

  background-color: color-mix( in srgb, var(--swatch--transparent) calc(100% * var(--_state---true)), var(--_theme---background) calc(100% * var(--_state---false))
  );

  color: color-mix( in srgb, currentColor calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );
}

.form_ui_visual_wrap:where(.w-variant-c18f59b8-0331-9f8c-c106-08818710cc20) {
  border-color: var(--_theme---border);
  border-radius: var(--radius--round);
  background-color: transparent;
}

.form_ui_visual_inner {
  width: 63%;
  height: auto;
  transition: all 200ms ease;
}

.form_ui_visual_inner:where(.w-variant-05ff758a-80c8-4344-649b-149f87b62cc9) {
  width: 70%;
  height: 100%;

  border-top-left-radius: var(--radius--round);
  border-top-right-radius: var(--radius--round);
  border-bottom-left-radius: var(--radius--round);
  border-bottom-right-radius: var(--radius--round);

  background-color: color-mix( in srgb, var(--_theme---background) calc(100% * var(--_state---true)), var(--_theme---background) calc(100% * var(--_state---false))
  );

  transform: translateX(calc(43% * var(--_state---false)));
}

.form_ui_visual_inner:where(.w-variant-c18f59b8-0331-9f8c-c106-08818710cc20) {
  width: 70%;
  height: 70%;
  background-color: var(--_theme---text);
  opacity: var(--_state---false);
  border-radius: inherit;
}

.form_ui_visual_icon {
  display: block;
  width: 100%;
  opacity: var(--_state---false);
  overflow: visible !important;
}

.form_ui_visual_icon:where(.w-variant-05ff758a-80c8-4344-649b-149f87b62cc9) {
  display: none;
}

.form_ui_visual_icon:where(.w-variant-c18f59b8-0331-9f8c-c106-08818710cc20) {
  display: none;
}