.form_component {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form_wrap {
  display: flex;
  width: 100%;
  margin-bottom: 0rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.form_element {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--_spacing---space--8);
  grid-row-gap: var(--_spacing---space--8);
}

.form_success_wrap {
  width: 100%;
  padding: 1.2rem;
  border: var(--border-width--main) solid var(--_theme---border);
  border-radius: var(--radius--main);
  background-color: var(--swatch--transparent);
}

.form_error_wrap {
  width: 100%;
  margin-top: 0px;
  padding: 0.8rem 1.4rem;
  align-self: flex-start;

  border: var(--border-width--main) solid var(--_theme---border);

  background-color: transparent;
}