.footer_group_item {
  display: flex;
}

.footer_link_wrap {
  padding-top: var(--_spacing---space--2);
  padding-bottom: var(--_spacing---space--2);

  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease;

  opacity: calc(1 - 0.5 * var(--_trigger---off));
}

.u-text-style-small {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}