.form_label_text {
  display: inline-block;
  margin-bottom: var(--_spacing---space--1);
}

.form_label_text:where(.w-variant-46933b79-cf19-81b4-bc00-8af5c19b08b3) {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  overflow: hidden;
  width: 1px;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
}

.form_label_text:where(.w-variant-e8e97384-daa0-7ce7-bc12-14efcd69bcd4) {
  margin-bottom: var(--_spacing---space--2);
  font-size: var(--_typography---font-size--text-large);
  font-weight: var(--_typography---font--primary-bold);
}

.u-weight-medium {
  font-family: var(--_typography---font--primary-family);
  font-weight: var(--_typography---font--primary-medium);
}