.form_label_wrap {
  position: relative;

  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;

  text-align: left;
}

.form_select_wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0rem;
}

.form_field {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 0em;
  padding-top: 0rem;
  padding-right: 0.9rem;
  padding-bottom: 0rem;
  padding-left: 0.9rem;

  border-top-style: solid;
  border-top-width: var(--border-width--main);
  border-top-color: black;
  border-right-style: solid;
  border-right-width: var(--border-width--main);
  border-right-color: black;
  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: var(--border-width--main);
  border-left-color: black;
  border-top-left-radius: var(--radius--small);
  border-top-right-radius: var(--radius--small);
  border-bottom-left-radius: var(--radius--small);
  border-bottom-right-radius: var(--radius--small);

  background-color: transparent;

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;

  color: inherit;
  text-transform: var(--_text-style---text-transform, none);

  appearance: none;

  border-color: color-mix( in srgb, var(--_theme---border) calc(100% * var(--_trigger---on)), var(--_theme---text) calc(100% * var(--_trigger---off)) );

  outline: none !important;
}

.form_field::placeholder {
  color: color-mix(in srgb, var(--_theme---text) 60%, transparent);
}

.form_field.is-textarea {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 5rem;
  min-width: 100%;
  padding-top: 0.5rem;
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}

.form_select_icon {
  position: absolute;

  display: block;
  width: 0.8em;
  margin-right: 0.9rem;

  pointer-events: none;

  overflow: visible !important;
}