.gradient-wrap {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.gradient-wrap.u-background-gradient {
  background-image: linear-gradient(180deg, var(--_theme---background), var(--_theme---background-2));
}

.gradient-wrap.u-background-gradient:where(.w-variant-5d61cc6a-2ac3-4ece-db40-28ef64d0ce98) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
}

.gradient-wrap.u-background-gradient:where(.w-variant-cb82ae98-ed81-7930-59b7-0a2178cbd422) {
  background-image: linear-gradient(180deg, var(--_theme---background-2), var(--_theme---background));
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-604bbcee-7a49-4668-fa53-728131763d02;
}

.gradient-wrap.u-background-gradient:where(.w-variant-470bb2ff-cfc7-e21d-4cab-02e69630c7d7) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.gradient-wrap.u-background-gradient:where(.w-variant-808dbaa9-94c2-8988-4f3c-daf6013d395a) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-c92bbf42-7d26-cdde-e415-02d04b308791;
}

.gradient-wrap.u-background-gradient:where(.w-variant-c7d78bfc-974c-16a8-34c1-ece13265f567) {
  background-image: linear-gradient(180deg, var(--_theme---background), var(--_theme---background-3));
}

.gradient-wrap.u-background-gradient:where(.w-variant-e014fd26-18ca-c30a-7189-170f5aba0fcc) {
  background-image: linear-gradient(180deg, var(--_theme---background-2), var(--_theme---background));
}

.u-background-gradient {
  background-image: linear-gradient(180deg, var(--_theme---background-2), var(--_theme---background));
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}