.u-grid-wrapper {
  display: flex;
  width: 100%;
  grid-column-gap: var(--_gap---size);
  grid-row-gap: var(--_gap---size);
}

.u-grid-wrapper:where(.w-variant-b8204f2e-764d-b421-dc96-2c59d3054271) {
  container-type: inline-size;
}

.u-grid {
  display: grid;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: minmax(0px, 1fr);
  grid-template-rows: auto;

  ---mode--collection-46b021ca-89a5-f6bd-951d-9cd6e4738eb2: mode-4c06758f-f872-a241-ed80-ec141bf9433f;

  grid-template-columns: repeat(var(--_column-count---value), minmax(0,1fr));
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

.u-grid:where(.w-variant-d58244bf-290f-ebb3-3aa0-352d6fa8e84f) {
  grid-template-columns: repeat(auto-fit, minmax(min(max(calc(var(--number, 12) * 1rem), (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-grid:where(.w-variant-129319ac-a2cd-9e88-2ebd-a33b4bb85fa5) {
  grid-template-columns: repeat(auto-fill, minmax(min(max(calc(var(--number, 12) * 1rem), (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-grid-breakout {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  grid-template-rows: auto;
  grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(var(--site--column-count), minmax(0, var(--site--column-width))) [content-end] minmax(0, 1fr) [full-end];
}