.u-iframe-wrapper {
  position: relative;
  aspect-ratio: 16/9;
}

.u-embed-css {
  display: none;
}

.u-iframe {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: block;
  width: 100%;
  height: 100%;

  border: none;
}