.u-display-contents {
  display: contents;
}

.u-embed-css {
  display: none;
}

.image-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--_spacing---space--2);
  grid-row-gap: var(--_spacing---space--2);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.image-grid_image {
  position: relative;
}

.u-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: block;
  height: 100%;

  object-position: calc(var(--x, 50) * 1%) calc(var(--y, 50) * 1%);
  object-fit: inherit;
}

#w-node-df9739a0-2800-08c2-329a-7d8719effe1f-19effe1c {
}
#w-node-df9739a0-2800-08c2-329a-7d8719effe21-19effe1c {
}
#w-node-df9739a0-2800-08c2-329a-7d8719effe23-19effe1c {
}
#w-node-df9739a0-2800-08c2-329a-7d8719effe25-19effe1c {
}
#w-node-df9739a0-2800-08c2-329a-7d8719effe27-19effe1c {
}
#w-node-df9739a0-2800-08c2-329a-7d8719effe29-19effe1c {
}
@media screen and (max-width: 479px) {
  #w-node-a42b4b03-347b-f31b-cd4e-fc6116631ea6-19effe1c {
  }
}