.u-layout-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--_spacing---space--8);
}

.u-layout-wrapper:where(.w-variant-31f8ed75-2c88-945a-a737-1b9b50b4494b) {
  position: relative;

  overflow: clip;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;

  border-radius: var(--radius--main);

  background-color: var(--_theme---background-2);
}

.u-layout-wrapper:where(.w-variant-329f6899-ba0f-e4db-0449-3c5b8ba4f388) {
  position: relative;

  overflow: clip;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;

  border-radius: var(--radius--main);

  background-color: var(--_theme---background-2);
}

.u-layout-wrapper:where(.w-variant-4fee4cc0-701f-2817-944f-2c0261b9c2f3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: var(--site--gutter);
}

.u-layout-wrapper:where(.w-variant-6bb5e515-55a9-1fc8-d29b-ff898d8b40f7) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: var(--site--gutter);
}

.u-layout-wrapper:where(.w-variant-58b19052-6f23-ab5e-5e89-54288af57e85) {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}

.u-layout-wrapper:where(.w-variant-560ed4d9-9e8c-5c39-4619-fc154cdf9f19) {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
}

.u-layout-wrapper:where(.w-variant-ebfcdcb1-ac53-1b15-fcb9-eaeda25808f5) {
  overflow: clip;
  border-radius: var(--radius--main);
  background-color: var(--_theme---background);
  color: var(--_theme---text);
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.u-layout {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

.u-layout:where(.w-variant-31f8ed75-2c88-945a-a737-1b9b50b4494b) {
  flex-direction: column;
  flex-wrap: nowrap;
  display: var(--flex-medium, grid);
  grid-template-columns: repeat(2, minmax(0,1fr));
}

.u-layout:where(.w-variant-329f6899-ba0f-e4db-0449-3c5b8ba4f388) {
  flex-direction: column;
  flex-wrap: nowrap;
  display: var(--flex-medium, grid);
  grid-template-columns: repeat(2, minmax(0,1fr));
}

.u-layout:where(.w-variant-4fee4cc0-701f-2817-944f-2c0261b9c2f3) {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(var(--site--column-count), minmax(0, var(--site--column-width))) [content-end] minmax(0, 1fr) [full-end];
  width: calc( 100vw * var(--_responsive---large) + 100% * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall))
  );
  display: var(--flex-medium, grid);
}

.u-layout:where(.w-variant-6bb5e515-55a9-1fc8-d29b-ff898d8b40f7) {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(var(--site--column-count), minmax(0, var(--site--column-width))) [content-end] minmax(0, 1fr) [full-end];
  width: calc( 100vw * var(--_responsive---large) + 100% * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall))
  );
  display: var(--flex-medium, grid);
}

.u-layout:where(.w-variant-558793eb-2b07-490b-9842-2d7e6f6bf325) {
  flex-direction: column;
  flex-wrap: nowrap;
  grid-template-columns: repeat(2, minmax(0,1fr));
  display: var(--flex-medium, grid);
}

.u-layout:where(.w-variant-1261a7e4-2c05-3b0b-2126-d399890906b8) {
  flex-direction: column;
  flex-wrap: nowrap;
  grid-template-columns: repeat(2, minmax(0,1fr));
  display: var(--flex-medium, grid);
}

.u-layout:where(.w-variant-ebfcdcb1-ac53-1b15-fcb9-eaeda25808f5) {
  position: relative;

  display: flex;
  min-height: 26rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-layout:where(.w-variant-58b19052-6f23-ab5e-5e89-54288af57e85) {
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-template-columns: repeat(2, minmax(0,1fr));
  display: var(--flex-medium, grid);
}

.u-layout:where(.w-variant-560ed4d9-9e8c-5c39-4619-fc154cdf9f19) {
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  grid-template-columns: repeat(2, minmax(0,1fr));
  display: var(--flex-medium, grid);
}

.u-layout:where(.w-variant-81232c92-6578-ef9a-1e3e-35e3204ae0fd) {
  flex-direction: column;
  flex-wrap: nowrap;
  grid-template-columns: repeat(2, minmax(0,1fr));
  display: var(--flex-medium, grid);
}

.u-layout-column-1 {
  position: relative;
  width: 100%;
  align-self: center;
}

.u-layout-column-1:where(.w-variant-31f8ed75-2c88-945a-a737-1b9b50b4494b) {
  padding: var(--_spacing---space--6);
}

.u-layout-column-1:where(.w-variant-329f6899-ba0f-e4db-0449-3c5b8ba4f388) {
  padding: var(--_spacing---space--6);
}

.u-layout-column-1:where(.w-variant-4fee4cc0-701f-2817-944f-2c0261b9c2f3) {
  grid-column: 2 / span 5;
  padding-top: calc( var(--_spacing---space--6) * var(--_responsive---large)
  );
  padding-bottom: calc( var(--_spacing---space--6) * var(--_responsive---large)
  );
}

.u-layout-column-1:where(.w-variant-6bb5e515-55a9-1fc8-d29b-ff898d8b40f7) {
  grid-column: 9 / span 5;
  padding-top: calc( var(--_spacing---space--6) * var(--_responsive---large)
  );
  padding-bottom: calc( var(--_spacing---space--6) * var(--_responsive---large)
  );
}

.u-layout-column-1:where(.w-variant-d69d5003-e9bc-b347-4e02-eb46976beb1c) {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.u-layout-column-1:where(.w-variant-ebfcdcb1-ac53-1b15-fcb9-eaeda25808f5) {
  position: relative;
  z-index: 1;

  padding-top: var(--_spacing---section-space--main);
  padding-right: var(--_spacing---space--5);
  padding-bottom: var(--_spacing---section-space--main);
  padding-left: var(--_spacing---space--5);

  text-align: center;

  align-items: center;
  justify-content: center;
}

.u-layout-column-1:where(.w-variant-58b19052-6f23-ab5e-5e89-54288af57e85) {
  max-width: var(--max-width--small);
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--_spacing---section-space--main);
  padding-bottom: var(--_spacing---section-space--main);
  width: calc(100% - var(--site--margin) * 2);
}

.u-layout-column-1:where(.w-variant-560ed4d9-9e8c-5c39-4619-fc154cdf9f19) {
  max-width: var(--max-width--small);
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--_spacing---section-space--main);
  padding-bottom: var(--_spacing---section-space--main);
  width: calc(100% - var(--site--margin) * 2);
}

.u-layout-column-1:where(.w-variant-558793eb-2b07-490b-9842-2d7e6f6bf325) {
  text-align: var(--center-medium, start);
  align-items: var(--center-medium, start);
  justify-content: var(--center-medium, start);
}

.u-layout-column-1:where(.w-variant-1261a7e4-2c05-3b0b-2126-d399890906b8) {
  align-items: var(--center-medium, start);
  justify-content: var(--center-medium, start);
  text-align: var(--center-medium, start);
}

.u-layout-column-1:where(.w-variant-81232c92-6578-ef9a-1e3e-35e3204ae0fd) {
  top: calc( 12rem * var(--_responsive---large) + 0rem * var(--_responsive---medium)
  );
  position: var(--relative-medium, sticky);
  align-self: start;
}

.u-layout-column-1.stack-centered-3 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.u-layout-column-2 {
  position: relative;

  overflow: clip;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;

  border-radius: var(--radius--main);
}

.u-layout-column-2:where(.w-variant-1261a7e4-2c05-3b0b-2126-d399890906b8) {
  overflow: clip;
  aspect-ratio: 16/9;
  grid-column-start: 1;
  grid-row-start: 1;
}

.u-layout-column-2:where(.w-variant-329f6899-ba0f-e4db-0449-3c5b8ba4f388) {
  overflow: clip;
  aspect-ratio: 16/9;

  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;

  grid-column-start: 1;
  grid-row-start: 1;
}

.u-layout-column-2:where(.w-variant-4fee4cc0-701f-2817-944f-2c0261b9c2f3) {
  overflow: clip;
  aspect-ratio: 16/9;

  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;

  grid-column: 8 / full;

  border-top-left-radius: calc( var(--radius--main) * var(--_responsive---large)
  );
  border-bottom-left-radius: calc( var(--radius--main) * var(--_responsive---large)
  );

  width: calc( 100% * var(--_responsive---large) + 100vw * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall))
  );
}

.u-layout-column-2:where(.w-variant-6bb5e515-55a9-1fc8-d29b-ff898d8b40f7) {
  overflow: clip;
  aspect-ratio: 16/9;

  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;

  grid-column: full / span 7;

  grid-row-start: 1;

  border-top-right-radius: calc( var(--radius--main) * var(--_responsive---large)
  );
  border-bottom-right-radius: calc( var(--radius--main) * var(--_responsive---large)
  );

  width: calc( 100% * var(--_responsive---large) + 100vw * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall))
  );
}

.u-layout-column-2:where(.w-variant-ebfcdcb1-ac53-1b15-fcb9-eaeda25808f5) {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  overflow: visible;
  width: 100%;
  height: 100%;
  aspect-ratio: auto;

  border-radius: 0rem;

  opacity: 0.5;
  pointer-events: none;
}

.u-layout-column-2:where(.w-variant-560ed4d9-9e8c-5c39-4619-fc154cdf9f19) {
  overflow: clip;
  aspect-ratio: 1/1;

  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;

  grid-column-start: 1;
  grid-row-start: 1;
}

.u-layout-column-2:where(.w-variant-58b19052-6f23-ab5e-5e89-54288af57e85) {
  overflow: clip;
  aspect-ratio: 1/1;
  border-radius: 0rem;
}

.u-layout-column-2:where(.w-variant-31f8ed75-2c88-945a-a737-1b9b50b4494b) {
  overflow: clip;
  aspect-ratio: 16/9;
  border-radius: 0rem;
}

.u-layout-column-2:where(.w-variant-d69d5003-e9bc-b347-4e02-eb46976beb1c) {
  overflow: clip;
  aspect-ratio: 16/9;
}

.u-layout-column-2:where(.w-variant-558793eb-2b07-490b-9842-2d7e6f6bf325) {
  overflow: clip;
  aspect-ratio: 16/9;
}

.u-layout-column-2:where(.w-variant-81232c92-6578-ef9a-1e3e-35e3204ae0fd) {
  overflow: clip;
  aspect-ratio: 16/9;
}

.u-layout-column-2.stack-centered-4 {
  overflow: clip;
  aspect-ratio: 16/9;
}

#w-node-_226edbfa-bf98-60fa-b45e-0b31719a3da9-d09731f4 {
}
#w-node-_45c58a29-3a10-c371-2a68-242a90878cd6-d09731f4 {
}