.u-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  background-color: color-mix( in srgb, black calc(var(--number) / 100 * 80%), transparent
  );
}

.u-overlay:where(.w-variant-9653c0cc-21fc-fb82-1373-c98b1644e5a8) {
  background-image: linear-gradient(180deg, hsla(0, 0.00%, 0.00%, 0.00), hsla(330, 0.00%, 0.00%, 0.62) 84%);
  background-color: color-mix( in srgb, black calc(var(--number) / 100 * 60%), transparent
  );
}