.person {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  text-align: center;
}

.u-alignment-center {
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.u-flex-vertical-nowrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: inherit;
}

.person_media_wrap {
  overflow: hidden;

  border-top-left-radius: var(--radius--round);
  border-top-right-radius: var(--radius--round);
  border-bottom-left-radius: var(--radius--round);
  border-bottom-right-radius: var(--radius--round);

  width: min(250px, 100%);
}

.u-flex-horizontal-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: inherit;
}

.u-gap-4 {
  grid-column-gap: var(--_gap---size);
  grid-row-gap: var(--_gap---size);
  ---mode--collection-187dc627-8307-4916-053e-12db01c5f7ab: mode-1ef7c34e-4095-b153-c89a-a41e38e7729f;
}

.u-margin-top-auto {
  margin-top: auto;
}