.nav_dropdown_component {
  position: static;

  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;

  z-index: unset;
}

.nav_links_link {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  padding-top: var(--_spacing---space--2);
  padding-right: 0px;
  padding-bottom: var(--_spacing---space--2);
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  grid-column-gap: var(--_spacing---space--2);

  cursor: pointer;

  outline-offset: var(--focus--offset-inner) !important;

  color: inherit;
}

.nav_links_link.desktop-5 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-23 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-72 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-75 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-80 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-94 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-114 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-132 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-181 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-184 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-189 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-203 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-223 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-241 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-290 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-293 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-298 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_link.desktop-312 {
  height: 100%;
  padding: 0px var(--_spacing---space--3);
}

.nav_links_text {
  font-family: var(--_typography---font--secondary-family);
  font-size: var(--_typography---font-size--h3);
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.nav_links_svg {
  width: 1rem;
  margin-left: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease;

  overflow: visible !important;

  transform: rotate(calc(-180deg * var(--_state---false)));
}

.nav_dropdown_main_wrap {
  position: relative;
  min-width: 0px;
  background-color: transparent;
}

.nav_dropdown_main_wrap.desktop-8 {
  position: absolute;
  width: 10rem;
  padding-top: var(--_spacing---space--1);
}

.nav_dropdown_main_wrap.desktop-85 {
  position: absolute;
  width: 10rem;
  padding-top: var(--_spacing---space--1);
}

.nav_dropdown_main_wrap.desktop-117 {
  position: absolute;
  width: 10rem;
  padding-top: var(--_spacing---space--1);
}

.nav_dropdown_main_wrap.desktop-194 {
  position: absolute;
  width: 10rem;
  padding-top: var(--_spacing---space--1);
}

.nav_dropdown_main_wrap.desktop-226 {
  position: absolute;
  width: 10rem;
  padding-top: var(--_spacing---space--1);
}

.nav_dropdown_main_wrap.desktop-303 {
  position: absolute;
  width: 10rem;
  padding-top: var(--_spacing---space--1);
}

.nav_dropdown_main_scroll.desktop-10 {
  position: relative;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto !important;
}

.nav_dropdown_main_scroll.desktop-87 {
  position: relative;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto !important;
}

.nav_dropdown_main_scroll.desktop-119 {
  position: relative;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto !important;
}

.nav_dropdown_main_scroll.desktop-196 {
  position: relative;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto !important;
}

.nav_dropdown_main_scroll.desktop-228 {
  position: relative;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto !important;
}

.nav_dropdown_main_scroll.desktop-305 {
  position: relative;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
  overflow-x: hidden;
  overflow-y: auto !important;
}