.nav_component {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;

  background-color: hsla(0, 0.00%, 0.00%, 0.00);

  pointer-events: none;

  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
  container-type: inline-size;
}

.nav_component:where(.w-variant-fd7b5b9e-80f9-1987-7071-9234069af8f4) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.nav_component.overlap {
  position: fixed;
}

.nav_component.overlap-22 {
  position: fixed;
}

.u-embed-css {
  display: none;
}

.nav_skip_wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 2;

  margin: 0.5rem;
  padding: 0.5rem;

  border-width: var(--border-width--main);
  border-radius: var(--nav--radius);

  background-color: var(--_theme---background);

  outline-offset: var(--focus--offset-inner);
  pointer-events: auto;

  transform: translate(-200%, 0px);

  color: var(--_theme---text);
}

.nav_skip_wrap:focus {
  transform: translate(0%, 0px);
}

.u-text-style-small {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.nav_wrap {
  position: relative;
  z-index: 1;
  margin-top: var(--nav--spacing-outer-vertical);
  background-color: transparent;
  color: color-mix(in srgb, var(--_theme---nav--text-active) calc(100% * var(--_state---false)), var(--_theme---nav--text) calc(100% * var(--_state---true))
  );
}

@media screen and (max-width: 767px) {
  .nav_wrap {
    margin-top: 0px;
  }
}

.nav_contain {
  max-width: var(--nav--max-width-outer);
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - var(--nav--spacing-outer-horizontal) * 2);
}

@media screen and (max-width: 767px) {
  .nav_contain {
    width: 100%;
    max-width: none;
  }
}

.nav_layout {
  position: relative;
  z-index: 2;

  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--nav--spacing-inner-horizontal);
  padding-right: var(--nav--spacing-inner-horizontal);
  padding-bottom: var(--nav--spacing-inner-horizontal);
  padding-left: var(--nav--spacing-inner-horizontal);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: var(--_spacing---space--3);

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  pointer-events: auto;

  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;

  color: color-mix(in srgb, var(--_theme---nav--text-active) calc(100% * var(--_state---false)), var(--_theme---nav--text) calc(100% * var(--_state---true))
  );
}

@media screen and (max-width: 767px) {
  .nav_layout {
    border-radius: 0px;
  }
}

.u-background-2 {
  background-color: var(--_theme---background-2);
}

.u-background-1 {
  background-color: var(--_theme---background);
}

.u-background-gradient {
  background-image: linear-gradient(180deg, var(--_theme---background-2), var(--_theme---background));
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.u-nav-background-scroll {
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
  background-color: color-mix(in srgb, var(--_theme---nav--background-active) calc(100% * var(--_state---false)), var(--_theme---nav--background-scroll) calc(100% * var(--_state---true)) );
}

.nav_layout.nav_on_scroll {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
  background-color: color-mix(in srgb, var(--_theme---nav--background-active) calc(100% * var(--_state---false)), var(--_theme---nav--background-scroll) calc(100% * var(--_state---true)));
  box-shadow: 0px 2px 10px -5px color-mix(in srgb, black, transparent max(calc(50% * var(--_state---true)), calc(100% * var(--_state---false))));
}

.nav_layout.nav_on_scroll:where(.w-variant-fd7b5b9e-80f9-1987-7071-9234069af8f4) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.nav_button_wrap {
  z-index: 2;

  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  outline-width: var(--focus--width) !important;
  outline-color: var(--_theme---text) !important;
  outline-offset: var(--focus--offset-inner) !important;

  display: flex !important;
  align-items: center;
}

.nav_button_wrap:global(.w--open) {
  background-color: hsla(0, 0.00%, 0.00%, 0.00);
  color: inherit;
  height: fit-content;
}

.nav_button_icon {
  position: relative;

  display: flex;
  width: var(--_spacing---space--6);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: var(--nav--hamburger-gap);
  grid-row-gap: var(--nav--hamburger-gap);
  aspect-ratio: 1/1;

  border-top-style: solid;
  border-top-width: var(--border-width--main);
  border-right-style: solid;
  border-right-width: var(--border-width--main);
  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-left-style: solid;
  border-left-width: var(--border-width--main);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  pointer-events: none;

  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
}

.nav_button_line {
  width: 60%;
  height: var(--nav--hamburger-thickness);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  pointer-events: auto;

  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;

  background-color: currentColor;
}

.nav_button_line.is-1 {
  transform: translateY(calc((var(--nav--hamburger-thickness) * 0.5 + var(--nav--hamburger-gap) * 0.5) * var(--_state---false))) rotate(calc(-45deg * var(--_state---false)));
  color: inherit;
}

@media screen and (max-width: 991px) {
  .nav_button_line.is-1 {
    color: color-mix(in srgb, var(--_theme---nav--text-active) calc(100% * var(--_state---false)), var(--_theme---nav--text) calc(100% * var(--_state---true))
    );
  }
}

.nav_button_line.is-2 {
  transform: translateY(calc((var(--nav--hamburger-thickness) * -0.5 + var(--nav--hamburger-gap) * -0.5) * var(--_state---false))) rotate(calc(45deg * var(--_state---false)));
}

.nav_button_label {
  margin-left: var(--_spacing---space--1);
  font-size: var(--_typography---font-size--text-main);
  font-weight: var(--_typography---font--primary-medium);
}

@media screen and (max-width: 479px) {
  .nav_button_label {
    display: none;
  }
}

.nav_logo {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  outline-offset: var(--focus--offset-inner);

  margin-right: var(--auto-small);
}

.u-position-absolute {
  position: absolute;
}

.u-cover-absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.nav_logo_wrap {
  display: flex;
  height: fit-content;
  width: calc(12rem * max(var(--_responsive---large), var(--_responsive---medium)) + 2rem * max(var(--_responsive---small), var(--_responsive---xsmall)));
}

.nav_menu_wrap {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  max-width: var(--nav--max-width-outer);
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--nav--height);
  flex-direction: column;
  flex-wrap: nowrap;

  border-top-left-radius: var(--nav--radius);
  border-top-right-radius: var(--nav--radius);
  border-bottom-left-radius: var(--nav--radius);
  border-bottom-right-radius: var(--nav--radius);

  background-color: var(--_theme---nav--background);

  pointer-events: auto;

  text-align: left;

  transform: none !important;

  width: calc(100% - var(--nav--spacing-outer-horizontal) * 2);

  color: color-mix(in srgb, var(--_theme---nav--text-active) calc(100% * var(--_state---false)), var(--_theme---nav--text) calc(100% * var(--_state---true))
  );
}

.u-grid-breakout {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  grid-template-rows: auto;
  grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(var(--site--column-count), minmax(0, var(--site--column-width))) [content-end] minmax(0, 1fr) [full-end];
}

.u-max-width-full {
  max-width: 100%;
}

@media screen and (max-width: 479px) {
  .u-max-width-full {
    max-width: 100%;
  }
}

.nav_menu_scroll {
  padding-right: var(--nav--spacing-inner-horizontal);
  padding-left: var(--nav--spacing-inner-horizontal);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100svh - var(--nav--height-total) - var(--nav--spacing-outer-vertical) * 2);
}

.u-height-full {
  height: 100%;
}

.nav_menu_backdrop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;

  display: block;
  width: 100%;
  height: 100vh;

  opacity: 0;
  pointer-events: none;

  background-color: color-mix(in srgb, var(--_theme---nav--background-active) 100%, transparent);
}

.nav_footer_wrap {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--_spacing---space--2);
  padding-right: var(--_spacing---space--3);
  padding-bottom: var(--_spacing---space--2);
  padding-left: var(--_spacing---space--3);
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--_spacing---space--2);
  grid-row-gap: var(--_spacing---space--2);

  background-color: var(--_theme---nav--text-active);

  pointer-events: none;

  color: var(--_theme---nav--background-active);

  opacity: 0;
}

.nav_footer_content {
  display: flex;
  width: 100%;
  max-width: var(--nav--max-width-inner);
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: var(--_spacing---space--2);
  grid-row-gap: var(--_spacing---space--2);
}

.nav_footer_link {
  font-weight: 600;
}

.nav_footer_link.first {
  margin-right: auto;
  font-weight: 700;
}

.u-embed-js {
  display: none;
}