.u-separator-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.u-separator-wrap:where(.w-variant-a7a73cbe-23ca-781f-e711-791466f96b01) {
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}

.u-separator {
  width: 100%;
  height: 2px;
  align-self: stretch;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  background-color: color-mix( in srgb, var(--_theme---text-accent), white 70%
  );
}

.u-separator:where(.w-variant-a7a73cbe-23ca-781f-e711-791466f96b01) {
  width: 2px;
  height: 100%;
}