.footer_social_list {
  display: flex;
  margin: -0.5rem;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  color: var(--_button-style---background);

  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
}

.footer_social_list:where(.w-variant-62ce2454-e297-c873-b009-4951c9daa6ef) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.footer_social_item {
  width: 2em;
  aspect-ratio: 1/1;
}

.footer_social_link {
  display: block;
  width: 2.5rem;
  padding: 0.5rem;
}

.u-svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.u-svg:where(.w-variant-1c3f028b-116e-d4eb-db7f-8484491bbf2e) {
  transform: rotate(-180deg);
}

.u-svg:where(.w-variant-a0a4b133-f837-5340-6c98-04b1518f150d) {
  transform: rotate(-90deg);
}

.u-svg:where(.w-variant-5939aeba-b378-ecdc-f1bc-b6970df2be03) {
  transform: rotate(90deg);
}

.u-svg:where(.w-variant-dc469724-71a3-14e1-b5d5-1294323411ce) {
  transform: rotate(-180deg);
}

.u-svg:where(.w-variant-b18a0fcd-abb0-329e-47f4-79155dd8284a) {
  transform: rotate(-90deg);
}

.u-svg:where(.w-variant-caa8b8e9-e8ec-6eb3-4526-30f19f7326f5) {
  transform: rotate(90deg);
}