.sticky_content_item {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--_spacing---space--5);
  grid-row-gap: var(--_spacing---space--5);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-bottom: calc(90dvh * var(--_responsive---large) + var(--_spacing---space--3) * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall)));
}

.sticky_content_item:last-child {
  margin-bottom: calc(40dvh * var(--_responsive---large));
}

.sticky_content_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: var(--_spacing---space--2);
  grid-row-gap: var(--_spacing---space--2);
}

.sticky_content_image {
  order: -9999;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  display: var(--flex-medium, none);

  border-radius: var(--radius--main);

  overflow: clip;
}

.u-display-contents {
  display: contents;
}