.sticky_feature {
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-template-rows: auto auto;

  container-type: inline-size;

  grid-template-columns: var(--grid-breakout);
  display: var(--flex-medium, grid);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: inherit;
  width: calc( 100vw * var(--_responsive---large) + 100% * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall))
  );
  margin-top: calc(var(--_spacing---section-space--small) * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall)));
}

.u-grid-autofill {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--_gap---size);
  grid-row-gap: var(--_gap---size);
  grid-template-rows: auto;

  ---mode--collection-187dc627-8307-4916-053e-12db01c5f7ab: base;
  ---mode--collection-46b021ca-89a5-f6bd-951d-9cd6e4738eb2: mode-e906ca7e-c2b0-7cdc-8ed4-caef7bdcae94;

  grid-template-columns: repeat(auto-fill, minmax(min(max(8rem, (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-grid {
  display: grid;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-auto-columns: minmax(0px, 1fr);
  grid-template-rows: auto;

  ---mode--collection-46b021ca-89a5-f6bd-951d-9cd6e4738eb2: mode-4c06758f-f872-a241-ed80-ec141bf9433f;

  grid-template-columns: repeat(var(--_column-count---value), minmax(0,1fr));
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

.u-grid:where(.w-variant-d58244bf-290f-ebb3-3aa0-352d6fa8e84f) {
  grid-template-columns: repeat(auto-fit, minmax(min(max(calc(var(--number, 12) * 1rem), (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-grid:where(.w-variant-129319ac-a2cd-9e88-2ebd-a33b4bb85fa5) {
  grid-template-columns: repeat(auto-fill, minmax(min(max(calc(var(--number, 12) * 1rem), (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-grid-breakout {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  grid-template-rows: auto;
  grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(var(--site--column-count), minmax(0, var(--site--column-width))) [content-end] minmax(0, 1fr) [full-end];
}

.sticky_feature.u-em-accent {
  margin-top: 0px;
}

.sticky_feature_content {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;

  grid-column-start: 2;
  grid-column-end: span 5;

  grid-column-gap: calc(var(--_spacing---space--8) * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall)));
  grid-row-gap: calc(var(--_spacing---space--8) * max(var(--_responsive---medium), var(--_responsive---small), var(--_responsive---xsmall)));
  padding-top: calc(40dvh * var(--_responsive---large));
}

.u-display-contents {
  display: contents;
}

.sticky_feature_media {
  position: sticky;
  top: 0px;

  height: 100dvh;

  grid-column-start: 7;
  grid-column-end: full;

  display: var(--none-medium, flex);
  align-items: center;
}

.u-embed-js {
  display: none;
}