.sticky_media_wrap {
  position: absolute;
  width: 100%;
  height: 90%;
  justify-content: flex-start;
  align-items: center;
}

.u-grid-breakout {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--site--gutter);
  grid-template-rows: auto;
  grid-template-columns: [full-start] minmax(0, 1fr) [content-start] repeat(var(--site--column-count), minmax(0, var(--site--column-width))) [content-end] minmax(0, 1fr) [full-end];
}