.tab_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--site--gutter);
  grid-row-gap: var(--_spacing---space--5);
}

.tab_wrap:where(.w-variant-490ac534-1fb5-5322-5b2f-0dc20ea2f909) {
  flex-direction: column;
  flex-wrap: nowrap;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  display: var(--flex-medium, grid);
}

.u-embed-css {
  display: none;
}

.tab_left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--_spacing---space--6);
  grid-row-gap: var(--_spacing---space--6);
}

.tab_left:where(.w-variant-490ac534-1fb5-5322-5b2f-0dc20ea2f909) {
  grid-column: span 3;
}

.tab_button_list {
  display: flex;
  padding-right: var(--site--margin);
  padding-left: var(--site--margin);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  overflow-x: auto;
  overflow-y: clip;
  margin-left: calc(var(--site--margin) * -1);
  margin-right: calc(var(--site--margin) * -1);
}

.tab_button_list:where(.w-variant-490ac534-1fb5-5322-5b2f-0dc20ea2f909) {
  flex-direction: var(--row-medium, column);
}

.tab_right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--_spacing---space--5);
  grid-row-gap: var(--_spacing---space--5);
}

.tab_right:where(.w-variant-490ac534-1fb5-5322-5b2f-0dc20ea2f909) {
  grid-column: span 9;
}

.tab_content_wrap {
  padding-right: var(--site--margin);
  padding-left: var(--site--margin);
  margin-left: calc(var(--site--margin) * -1);
  margin-right: calc(var(--site--margin) * -1);
  overflow-x: clip;
}

.tab_content_list {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: var(--_spacing---space--8);
  grid-row-gap: var(--_spacing---space--8);
}

.tab_control_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: var(--_spacing---space--2);
  grid-row-gap: var(--_spacing---space--2);
}

.tab_arrow_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: var(--_spacing---space--2);
  grid-row-gap: var(--_spacing---space--2);
}

.u-embed-js {
  display: none;
}