.tab_button_item {
  position: relative;

  width: 100%;
  min-width: 10rem;
  padding-top: var(--_spacing---space--4);
  padding-right: var(--_spacing---space--4);
  padding-bottom: var(--_spacing---space--4);
  padding-left: var(--_spacing---space--4);

  border-bottom-style: solid;
  border-bottom-width: var(--border-width--main);
  border-bottom-color: var(--_theme---border);

  text-align: center;

  cursor: pointer;

  outline-offset: var(--focus--offset-inner);
  outline-width: var(--focus--width);
}

.tab_button_item:where(.w-variant-8ffc88d1-7ba2-15f6-9b67-306f6d86c1bd) {
  display: flex;
  width: auto;
  min-width: auto;
  padding-top: var(--_spacing---space--3);
  padding-bottom: var(--_spacing---space--3);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--_theme---border);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--_theme---border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--_theme---border);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--_theme---border);
  border-top-left-radius: var(--radius--round);
  border-top-right-radius: var(--radius--round);
  border-bottom-left-radius: var(--radius--round);
  border-bottom-right-radius: var(--radius--round);

  background-color: color-mix( in srgb, transparent calc(100% * var(--_state---true)), var(--_theme---text) calc(100% * var(--_state---false))
  );

  color: color-mix( in srgb, currentColor calc(100% * var(--_state---true)), var(--_theme---background) calc(100% * var(--_state---false))
  );
}

.tab_button_text {
  opacity: calc(1 - 0.3 * var(--_state---true));
}

.tab_button_text.u-text-style-main {
  font-weight: calc( var(--_typography---font--primary-regular) * var(--_state---true) + var(--_typography---font--primary-bold) * var(--_state---false)
  );
}

.u-text-style-main {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: base;

  text-transform: var(--_text-style---text-transform);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}

.tab_button_line {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;

  height: var(--border-width--main);

  opacity: var(--_state---false);

  transform: translate(0px, 100%);

  background-color: currentColor;

  width: calc(100% * var(--progress, 1));
}

.tab_button_line:where(.w-variant-8ffc88d1-7ba2-15f6-9b67-306f6d86c1bd) {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;

  height: 100%;

  transform: none;

  width: calc(100% * var(--progress, 0));

  border-radius: inherit;

  background-color: color-mix( in srgb, currentColor 10%, transparent
  );
}