.u-section {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;

  background-color: var(--_theme---background);

  color: var(--_theme---text);
}

.u-section:where(.w-variant-a4eabb01-8ed6-63d0-157e-0a7b56aedaa1) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.u-section:where(.w-variant-857e5430-97c7-deb6-3c1a-d3063f9fe2c7) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.u-section:where(.w-variant-f3a81397-d460-3add-9beb-5ec7af47907a) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: base;
}

.u-section:where(.w-variant-b4d321b1-05d4-6b05-8ab2-dfbc2f41ee4e) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.u-section:where(.w-variant-25bf08d9-3196-322b-5616-019ac7f0f4f7) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
}

.u-section:where(.w-variant-a8129e9f-a38b-6295-901d-abd008abc0b4) {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-604bbcee-7a49-4668-fa53-728131763d02;
}

.u-theme-accent {
  background-color: var(--_theme---background);
  color: var(--_theme---text);
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-c92bbf42-7d26-cdde-e415-02d04b308791;
}

.u-theme-brand {
  background-color: var(--_theme---background);
  color: var(--_theme---text);
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-f385917d-c945-79cc-0de1-372bf8602d9d;
}

.u-section.dark {
  ---mode--collection-f25616ad-251e-9565-fa56-447a0d6e7548: mode-56ba09a5-7276-98be-9408-cf10e5c05255;
}

.u-inline-size {
  container-type: inline-size;
}

.sticky_feature_section {
  container-type: inline-size;
}

.u-container {
  position: relative;
  z-index: 1;

  display: flex;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  grid-column-gap: var(--_spacing---space--8);
  grid-row-gap: var(--_spacing---space--8);

  container-type: inline-size;

  width: calc(100% - var(--site--margin) * 2);
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--_gap---size);
  grid-row-gap: var(--_gap---size);
  grid-template-rows: auto;

  ---mode--collection-187dc627-8307-4916-053e-12db01c5f7ab: base;
  ---mode--collection-46b021ca-89a5-f6bd-951d-9cd6e4738eb2: mode-e906ca7e-c2b0-7cdc-8ed4-caef7bdcae94;

  grid-template-columns: repeat(auto-fit, minmax(min(max(8rem, (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-grid-subgrid {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-template-rows: auto;
  grid-template-columns: subgrid;
  grid-column-gap: inherit;
  grid-row-gap: inherit;

  grid-column-start: auto;
  grid-column-end: span 1;
}

.u-container.u-grid-autofill {
  ---mode--collection-46b021ca-89a5-f6bd-951d-9cd6e4738eb2: mode-e9eba6bf-fd46-eeee-4c75-2c378ed20351;
}

.u-grid-autofill {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--_gap---size);
  grid-row-gap: var(--_gap---size);
  grid-template-rows: auto;

  ---mode--collection-187dc627-8307-4916-053e-12db01c5f7ab: base;
  ---mode--collection-46b021ca-89a5-f6bd-951d-9cd6e4738eb2: mode-e906ca7e-c2b0-7cdc-8ed4-caef7bdcae94;

  grid-template-columns: repeat(auto-fill, minmax(min(max(8rem, (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-embed-css {
  display: none;
}

.u-background-slot {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  pointer-events: none;
}