.u-text {
  display: flex;
  min-width: 100%;
  margin-bottom: var(--_text-style---margin-bottom);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);
  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  align-items: inherit;
  max-width: calc(var(--number) * 1ch);
}

.u-text:where(.w-variant-eee56f15-d7ce-d101-2f8c-83b3bbd55d4a) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-7b9e3726-80fe-711d-b3bd-df6bd6afd393;
}

.u-text:where(.w-variant-3ddfa43e-abc1-422e-6e6d-23dfb7da71f3) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e50a1a4e-8a8e-3fbf-3c6d-105e8e8aba20;
}

.u-text:where(.w-variant-efb733fe-da83-69a3-ea4a-b3f2f89d0389) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-9194f0c6-c7b1-703e-a84c-14dafbdf93ff;
}

.u-text:where(.w-variant-ad482112-9d0e-852c-0f6e-ba1e5a3aee59) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c897067e-2dfb-40ff-c79f-ddfdd73c7273;
}

.u-text:where(.w-variant-93e8af18-8413-e3ac-0442-72629401a3db) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-f573562d-abfe-a445-157e-2ff8aa9b7d73;
}

.u-text:where(.w-variant-5c484503-e2a0-ac99-680d-56013d859efa) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e99d08ea-e066-5ff1-9ff6-ced2c9062682;
}

.u-text:where(.w-variant-b8555f10-fa7d-e9ba-e262-f9aa44c27c1c) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c9345ae7-c304-bdf4-0e41-d2ecd312c02f;
}

.u-text:where(.w-variant-fdb8e663-01e0-aae6-13eb-e6dfca16b689) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;
}

.u-text:where(.w-variant-61d538b2-709c-eb7a-4258-8c0890dc07fc) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: base;
}

.u-text:where(.w-variant-4099173f-f581-635c-a5fe-cf4a89c62029) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;
}

.u-text:where(.w-variant-fe6f474d-1651-566b-eeff-3c86e8cbf153) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;
}

.u-text:where(.w-variant-26cc9f23-e71c-deee-cd61-36dc24f35fae) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: base;
}

.u-text:where(.w-variant-c8b8ac88-1ac7-e9f6-41cc-82c548bf142d) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;
}

.u-text:where(.w-variant-47e40b0d-02af-2673-f429-546cac42dc5a) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c9345ae7-c304-bdf4-0e41-d2ecd312c02f;
}

.u-text:where(.w-variant-12e93187-f8ac-b1a1-2e50-59d85a6bf516) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e99d08ea-e066-5ff1-9ff6-ced2c9062682;
}

.u-text:where(.w-variant-f196774e-dbfd-d1b4-1196-b3e824fc5f7d) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-f573562d-abfe-a445-157e-2ff8aa9b7d73;
}

.u-text:where(.w-variant-7bfbf33b-fb56-d8df-e2d2-8fe65a7f2e44) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c897067e-2dfb-40ff-c79f-ddfdd73c7273;
}

.u-text:where(.w-variant-9af60b09-c3a1-8c2a-eb78-8e29460ca7a9) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-9194f0c6-c7b1-703e-a84c-14dafbdf93ff;
}

.u-text:where(.w-variant-83c598b0-8cc2-f955-1996-fcb8fb10bf70) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e50a1a4e-8a8e-3fbf-3c6d-105e8e8aba20;
}

.u-text:where(.w-variant-8ee37a78-065b-6879-973d-319c65e28313) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-7b9e3726-80fe-711d-b3bd-df6bd6afd393;
}

.u-text:where(.w-variant-3fbd0d32-5675-1947-73b3-abb16c1fb986) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;
}

.u-text:where(.w-variant-9027c8ae-1ba5-f702-ea6e-4a1c3fca9f64) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: base;
}

.u-text:where(.w-variant-74a3180a-e505-b452-032f-599c8e557249) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;
}

.u-text:where(.w-variant-823daff2-fd84-8da0-4ed1-92a39b869ad0) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c9345ae7-c304-bdf4-0e41-d2ecd312c02f;
}

.u-text:where(.w-variant-326a9562-3263-06da-e8ef-16981fd70f1c) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e99d08ea-e066-5ff1-9ff6-ced2c9062682;
}

.u-text:where(.w-variant-7c7eb163-b37d-338d-2369-5eae7e6d458a) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-f573562d-abfe-a445-157e-2ff8aa9b7d73;
}

.u-text:where(.w-variant-701c4b6c-37cf-de59-d80d-80a1822c4994) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c897067e-2dfb-40ff-c79f-ddfdd73c7273;
}

.u-text:where(.w-variant-433d40c6-c261-f13f-c899-61d2cadf150f) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-9194f0c6-c7b1-703e-a84c-14dafbdf93ff;
}

.u-text:where(.w-variant-792802b6-ccdb-f982-5023-5fa970cf03d0) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e50a1a4e-8a8e-3fbf-3c6d-105e8e8aba20;
  max-width: calc(var(--number) * 1ch);
}

.u-text:where(.w-variant-41c609dc-9c80-9eef-75df-03bf0eea00b4) {
  letter-spacing: var(--_typography---letter-spacing--normal);
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-7b9e3726-80fe-711d-b3bd-df6bd6afd393;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a4480b) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-7b9e3726-80fe-711d-b3bd-df6bd6afd393;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a4480a) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e50a1a4e-8a8e-3fbf-3c6d-105e8e8aba20;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44809) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-9194f0c6-c7b1-703e-a84c-14dafbdf93ff;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44808) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c897067e-2dfb-40ff-c79f-ddfdd73c7273;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44807) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-f573562d-abfe-a445-157e-2ff8aa9b7d73;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44806) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e99d08ea-e066-5ff1-9ff6-ced2c9062682;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44805) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c9345ae7-c304-bdf4-0e41-d2ecd312c02f;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44804) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44803) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: base;
}

.u-text:where(.w-variant-c7d99611-3309-3157-8af3-ddd895a44802) {
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-55e5b3f5-27ac-b6ac-eb78-2facc18d7040;
}

.u-text.display {
  letter-spacing: var(--_typography---letter-spacing--normal);
  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-7b9e3726-80fe-711d-b3bd-df6bd6afd393;
}

.card_event_title {
  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);

  display: flow-root;
}