.u-rich-text {
  text-wrap: var(--_text-style---text-wrap);
  align-items: inherit;
  justify-content: inherit;
}

.u-rich-text h1 {
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e50a1a4e-8a8e-3fbf-3c6d-105e8e8aba20;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);
}

.u-rich-text h2 {
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-9194f0c6-c7b1-703e-a84c-14dafbdf93ff;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);
}

.u-rich-text h3 {
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c897067e-2dfb-40ff-c79f-ddfdd73c7273;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);
}

.u-rich-text h4 {
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-f573562d-abfe-a445-157e-2ff8aa9b7d73;

  text-transform: var(--_text-style---text-transform, none);

  text-wrap: var(--_text-style---text-wrap);
}

.u-rich-text h5 {
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-e99d08ea-e066-5ff1-9ff6-ced2c9062682;
  text-wrap: var(--_text-style---text-wrap);

  text-transform: var(--_text-style---text-transform, none);
}

.u-rich-text h6 {
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-c9345ae7-c304-bdf4-0e41-d2ecd312c02f;
  text-wrap: var(--_text-style---text-wrap);

  text-transform: var(--_text-style---text-transform, none);
}

.u-rich-text p {
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);
}

.u-rich-text blockquote {
  margin-top: var(--_spacing---space--6);
  margin-bottom: var(--_spacing---space--6);
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;

  border-left-style: solid;
  border-left-width: 0.2rem;

  font-family: var(--_text-style---font-family);
  font-size: var(--_text-style---font-size);
  line-height: var(--_text-style---line-height);
  font-weight: var(--_text-style---font-weight);
  letter-spacing: var(--_text-style---letter-spacing);

  ---mode--collection-b7222b48-79c4-934f-5073-fc41f016b656: mode-5208c5a5-0de0-01a0-a3b6-bcbe489ecc38;

  text-transform: var(--_text-style---text-transform, none);
}

.u-rich-text ol {
  display: flex;
  overflow: visible;
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);
  padding-left: 1.2em;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.9em;
  grid-row-gap: 0.9em;

  list-style-type: decimal;

  align-items: inherit;
}

.u-rich-text li {
  margin-top: calc(var(--_text-style---trim-top) * -1);
  margin-bottom: calc(var(--_text-style---trim-bottom) * -1);
  display: list-item;
}

.u-rich-text ul {
  display: flex;
  overflow: visible;
  margin-top: var(--_text-style---margin-top);
  margin-bottom: var(--_text-style---margin-bottom);
  padding-left: 1.2em;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.9em;
  grid-row-gap: 0.9em;

  list-style-type: disc;

  align-items: inherit;
}

.u-rich-text figure {
  margin-top: var(--_spacing---space--7);
  margin-bottom: var(--_spacing---space--7);
}