.u-video {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  background-color: var(--_theme---background-skeleton);
}

.u-video:where(.w-variant-db26956a-7929-76af-05b0-02971cbab2f4) {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
  aspect-ratio: unset !important;
}

.u-video:where(.w-variant-0b00a75a-35ba-66c2-fce0-21c117d62ce0) {
  aspect-ratio: 16/9;
}

.u-video:where(.w-variant-a9490bed-5b56-7b46-8413-993d16d77e88) {
  aspect-ratio: 3/2;
}

.u-video:where(.w-variant-ec7f8a9f-99ac-b5a5-140b-730400a62670) {
  aspect-ratio: 1/1;
}

.u-video:where(.w-variant-8157ca33-45d5-df1a-bd25-894298c8e117) {
  aspect-ratio: 5/4;
}

.u-video:where(.w-variant-f3f45657-6a73-93f9-25db-a80af56ad72a) {
  aspect-ratio: 4/5;
}

.u-video:where(.w-variant-c3ccbb6c-6fa7-1113-0f2e-08b77dffca68) {
  aspect-ratio: 2/3;
}

.u-video.wide-16-9 {
  aspect-ratio: 16/9;
}